[user]
	name = luk-pio
	email = 48261254+luk-pio@users.noreply.github.com
[core]
	autocrlf = input
	pager = delta
[init]
	defaultBranch = main
[credential]
	helper = cache
[alias]
	fza = "!git ls-files -m -o --exclude-standard | fzf --print0 -m | xargs -0 -t -o git add"
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
	side-by-side = true
	line-numbers = true
[merge]
	conflictstyle = diff3
[diff]
	colorMoved = default
