Xft.dpi: 192
Xft.autohint: 0
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb
! urxvt

*geometry:                115x40

URxvt.font: xft:Hack Nerd Font Mono:pixelsize=20:antialias=true:hinting=true
*depth:                32
*scrollBar:            false
*saveLines:  2000
.transparent:      false
*.shading: 10
.cursorBlink: true
.letterSpace: 0
.lineSpace: 0
URxvt.internalBorder: 32

!! Copy Paste & Other Extensions
.perl-ext-common: default,clipboard,url-select,keyboard-select
.copyCommand: xclip -i -selection clipboard
.pasteCommand: xclip -o -selection clipboard
.keysym.M-c: perl:clipboard:copy
.keysym.M-v: perl:clipboard:paste
.keysym.M-C-v: perl:clipboard:paste_escaped
.keysym.M-Escape: perl:keyboard-select:activate
.keysym.M-s: perl:keyboard-select:search
.keysym.M-u: perl:url-select:select_next
.urlLauncher: firefox
.underlineURLs: true
.urlButton: 1

! disable the stupid ctrl+shift 'feature'
.iso14755: false
.iso14755_52: false

! https://terminal.sexy/
! ! special
*.foreground:   #c2b790
*.background:   #202020
*.cursorColor:  #c2b790

! black
*.color0:       #4a3637
*.color8:       #676767

! red
*.color1:       #767676
*.color9:       #b02623

! green
*.color2:       #728271
*.color10:      #869985

! yellow
*.color3:       #e8bf6a
*.color11:      #af865a

! blue
*.color4:       #69819e
*.color12:      #60827e

! magenta
*.color5:       #766263
*.color13:      #595252

! cyan
*.color6:       #996ca4
*.color14:      #5b8390

! white
*.color7:       #c0b18b
*.color15:      #978965

